
/* Navegador de todas las pantallas resposive */
.iconos_footer{
    width: 100%;
}
.contenedor__secciones__menu{
    padding: 20px 10px;
    box-shadow: 0px 0px 16px -1px #6D6A6A4D;
    position: fixed;
    bottom: 0;
    background: #ffff;
    height: 84px;
    width: 100%;
}
.menu__imgs{
    width: 100%;
    height: 22px;
}
.menu__img1{
    background-image: url('../images/icons/iconos-menu/myProp_gris_solo.svg');
    width: 100%;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
}
.menu__img2{
    background-image: url('../images/icons/iconos-menu/mensaje.svg');
    width: 100%;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
}
.menu__img3{
    background-image: url('../images/icons/iconos-menu/casa_menu.svg');
    width: 100%;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
}
.menu__img3--dos{
    background-image: url('../images/icons/iconos-menu/lupa_gris.svg');
    width: 100%;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
}
.menu__img4{
    background-image: url('../images/icons/iconos-menu/rendimiento.svg');
    width: 100%;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
}
.menu__img4--dos{
    background-image: url('../images/icons/iconos-menu/icono_guardados.svg');
    width: 100%;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
}
.menu__img5{
    background-image: url('../images/icons/iconos-menu/perfil.svg');
    width: 100%;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
}

.contenedor__home__menu1, .contenedor__home__menu2, .contenedor__home__menu3, .contenedor__home__menu4, .contenedor__home__menu5{
    width: 100%;
    height: 100%;
}
.contenedor__home__menu1:focus p, .contenedor__home__menu2:focus p, .contenedor__home__menu3:focus p, .contenedor__home__menu4:focus p, .contenedor__home__menu5:focus p{
    color: #FE3151;
    text-decoration: none;
}
.contenedor__home__menu1:focus .menu__img1{
    background-image: url('../images/icons/iconos-menu/icono_home.svg');
}
.contenedor__home__menu2:focus .menu__img2{
    background-image: url('../images/icons/iconos-menu/mensajes_rosa.svg');
}
.contenedor__home__menu3:focus .menu__img3{
    background-image: url('../images/icons/iconos-menu/casa_menu_rosa.svg');
}
.contenedor__home__menu3--dos:focus .menu__img3--dos{
    background-image: url('../images/icons/iconos-menu/lupa_rosa.svg');
}
.contenedor__home__menu4:focus .menu__img4{
    background-image: url('../images/icons/iconos-menu/rendimiento_rosa.svg');
}
.contenedor__home__menu4--dos:focus .menu__img4--dos{
    background-image: url('../images/icons/iconos-menu/corazon_rosa.svg');
}
.contenedor__home__menu5:focus .menu__img5{
    background-image: url('../images/icons/iconos-menu/perfil_rosa.svg');
}
.contenedor__menu{
 height: 100%;
}
.contenedor__boton__menu{
    background-color: #FFFFFF;
    border: none;height: 100%;
}

.texto_icons {
    font-size: 10px;
}
.contenedor__home__menu1::before {
    content: "";
    display: none;
    width: 100%;
    height: 5px;
    background: #FE3151;
    border-radius: 0px 0px 6px 6px;
    position: absolute;
    top: -20px;

}

.contenedor__home__menu2::before {
    content: "";
    display: none;
    width: 100%;
    height: 5px;
    background: #FE3151;
    border-radius: 0px 0px 6px 6px;
    position: absolute;
    top: -20px;

}
.contenedor__home__menu3::before {
    content: "";
    display: none;
    width: 100%;
    height: 5px;
    background: #FE3151;
    border-radius: 0px 0px 6px 6px;
    position: absolute;
    top: -20px;

}

.contenedor__home__menu4::before {
    content: "";
    display: none;
    width: 100%;
    height: 5px;
    background: #FE3151;
    border-radius: 0px 0px 6px 6px;
    position: absolute;
    top: -20px;

}

.contenedor__home__menu5::before {
    content: "";
    display: none;
    width: 100%;
    height: 5px;
    background: #FE3151;
    border-radius: 0px 0px 6px 6px;
    position: absolute;
    top: -20px;

}

.contenedor__home__menu1:focus::before, .contenedor__home__menu2:focus:before, .contenedor__home__menu3:focus:before, .contenedor__home__menu4:focus:before, .contenedor__home__menu5:focus:before{
    display: block;
}